LANGFLOW_URL=
LANGFLOW_ORG_ID=
LANGFLOW_TOKEN=

DB_USER=admin
DB_PASSWORD=change-me
DB_NAME=occacia_db
DATABASE_URL=postgresql://admin:change-me@db:5432/occacia_db

SECRET_KEY=change-me
ALGORITHM=HS256

SENDGRID_API_KEY=
FROM_EMAIL=noreply@occacia.com

REDIS_PASSWORD=change-me
REDIS_URL=redis://:change-me@redis:6379

DISABLE_ADMIN_REGISTER=true
DOCKER_SOCKET=/var/run/docker.sock
