services:
  backend:
    build: ./backend
    ports: ["8000:8000"]
    
  frontend:
    build: ./frontend
    ports: ["3000:3000"]
    
  nginx:
    image: nginx:latest
    ports: ["80:80"] # The main door for the public